:root {
  /* Fonts */
  --main-font: 'Poppins';
  /* Colors */
  --dark: rgb(55, 53, 47);
  --light-grey: rgb(249,250,251);
  --light-purple: #e9d8fd;
  --mid-purple: #805ad5;
  --dark-purple: #44337a;
  --neon-purple: #5E17EB;
  --primary-color: var(--neon-purple);
  --accent-color: var(--light-purple);
  /* Misc */
  --transition: all .2s ease-in-out;
	--transition-alt: all 0.8s cubic-bezier(0.2, 1, 0.2, 1);
	--rounded: 8px;
}

html,
body {
  width: 100vw;
  min-height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: var(--main-font), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 200;
  color: var(--dark);
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
}

section {
  margin: 40px;
}

footer {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 20px 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
}

nav ul,
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

nav li,
footer li {
  list-style: none;
}

nav a {
  color: var(--dark);
}