:root {
  /* Fonts */
  --main-font: 'Poppins';
  /* Colors */
  --dark: #37352f;
  --light-grey: #F9F9F9;
  --mid-grey: rgb(55 53 47 / 18%);
  --light-purple: #e9d8fd;
  --mid-purple: #805ad5;
  --neon-purple: #5E17EB;
  --primary-color: var(--neon-purple);
  --accent-color: var(--light-purple);
}

html,
body {
  width: 100vw;
  min-height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: var(--main-font), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

main {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
}

section {
  margin: 40px;
}

footer {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li td {
  padding-left: 15px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  padding-left: 0;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 20px 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
}

nav ul,
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

nav li,
footer li {
  list-style: none;
}

nav a {
  color: var(--dark);
  font-weight: 600;
  font-size: 18px;
}