/* Containers */
.sectionMd {
  width: 70%;
}
.sectionLg {
  width: 70%;
}
.hStack {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hStackLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hStackLg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rowContainerSm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.rowContainerLg {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.columnContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.columnContainerStretch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.column,
.row {
  flex: 1;
}

.row {
  max-width: 30%;
}

.containerXl {
  width: 100%;
}
.containerLg {
  width: 60%;
}
.containerMd {
  width: 48%;
}
.containerXs {
  width: 20%;
}

.cardImg {
  position: relative;
  width: 100%;
  height: 250px;
}

.projectImg {
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.listIcon {
  position: relative;
  width: 30px;
  height: 30px;
}

.sideContainer {
  min-width: 300px;
  max-width: 300px;
  padding-top: 40px;
  padding: 20px 40px;
}
.sideContainer.left {
  position: sticky;
  left: 0;
  top: 100px;
  max-height: 90%;
}
.sideContainer.right {
  position: sticky;
  right: 0;
  top: 100px;
  background: var(--light-grey);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.sideContainer p {
  font-size: 16px;
}
.sideContainer ul {
  padding-left: 0;
}
.sideContainer li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sideContainer li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
}

.projectsTable td {
  width: 47%;
  vertical-align: top;
}

.projectsTable tr td:nth-child(2) {
  width: 30px;
}

/* Text */
.heading2Xl {
  font-family: var(--main-font);
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-family: var(--main-font);
  font-weight: 700;
  padding: 2px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
  min-height: 48px;
  white-space: pre-wrap;
  word-break: break-word;
}

.headingLg {
  font-family: var(--main-font);
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 50%;
  border: 5px solid var(--primary-color)!important;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.centeredText {
  text-align: center;
}
.leftText {
  text-align: left;
}
.markedText {
  background: var(--accent-color);
}
.boldText {
  font-weight: 700;
  color: var(--primary-color);
}
.logo {
  font-size: 25px;
  font-weight: 700;
}

/* Buttons */
.mainBtn {
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  color: white;
  font-weight: 400;
  padding: 15px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: content-box;
}
.secondaryBtn {
  border: 2px solid var(--primary-color);
  font-weight: 400;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: content-box;
}
.simpleBtn {
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Dividers */
.divider {
  width: 100%;
	border-bottom: 1px solid var(--mid-grey);
  margin: 20px 0 15px 0;
}